<footer class="footer-main">
	<div class="container-section">
		<div class="section-wrapper">
			<div class="footer-main__copy">
				<p>© Copyright 2014  - 2015, All Rights Reserved
Designed by: www.designoatmeal.com</p>
			</div>
			<div class="footer-main__social">
				<p>Connect with us</p>
				<span class="ion-social-facebook"></span>
				<span class="ion-social-twitter"></span>
				<span class="ion-social-linkedin" ></span>
				<span class="ion-social-googleplus-outline"></span>
				<span class="ion-social-rss"></span>
			</div>
		</div>
	</div>
</footer>
	<script src="js/script.js"></script>

</body>
</html>