<!DOCTYPE html>
<html>
<head>
	<title>Boostrap Test</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="css/style.css">
</head>
<body>
	<section class="header-main">
		<div class="container-section">
			<div class="section-wrapper">
			
			
							<div class="header-main__logo">
								<a href="#">
									<img src="img/logo.png" alt="">
								</a>
							</div>
				<div class="header-title-wrapper">
					<h1 class="header-main__title">Beauty care with a personal touch </h1>
					<p class="header-main__subtitle">
						Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim venia nostrud exercitation ullamco laboris nisi ut aliquip 
					</p>
					<a href="#" class="cta-button">Read more</a>
					<a href="#services" class="header-scroll">
						<svg class="arrow-down" viewBox="0 0 76 35">
  							<path d="M767.988,741.174l-38,33.836-38-33.836L693.068,740l36.923,32.875L766.914,740Zm0,0" transform="translate(-692 -740)"/>
						</svg>
					</a>
				</div>
				
			</div>
		</div>
		<div class="header-nav">
			<div class="container-section">
				<div class="section-wrapper">
					<ul class="header-nav__list">
						<li class="header-nav__list-item active"><a href="#" class="header-nav__list-item-link">Home</a></li>
						<li class="header-nav__list-item"><a href="#" class="header-nav__list-item-link">About</a></li>
						<li class="header-nav__list-item"><a href="#" class="header-nav__list-item-link">Services</a></li>
						<li class="header-nav__list-item"><a href="#" class="header-nav__list-item-link">Offer</a></li>
						<li class="header-nav__list-item"><a href="#" class="header-nav__list-item-link">Gallery</a></li>
						<li class="header-nav__list-item"><a href="#" class="header-nav__list-item-link">team</a></li>
						<li class="header-nav__list-item"><a href="#" class="header-nav__list-item-link">Contact</a></li>
					</ul>
				</div>
			</div>
		</div>
	</section>
	